@import '../../../styles/variables.scss';

.chat-container {

  color: #000000;

  display: grid;
  justify-items: center;
  padding: 1rem;
  margin: 0;

  border-bottom-left-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;

  .navigation {
    width: 100%;

    border-top-left-radius: $borderRadius;
    border-top-right-radius: $borderRadius;

    align-self: start;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: #38848c;

    .back-btn {
      color: #ffffff;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      cursor: pointer;
      grid-column: 1;
      text-align: left;
    }

    .heading {
        font-size: 1.25rem;
        color: #ffffff;
      grid-column: 2;
    }

  }

  .chat-sub-container {
    padding: 1rem;
    width: 100%;
    display: grid;
    align-self: end;
    justify-items: center;
    border: $border;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;

    .chat-messages {
      width: 100%;
      min-height: 30vh;
    }

    .btns-container {
      width: 100%;

      .bad-sentiment-message{
        color: #FF0000FF;
        font-size: 0.75rem;
        margin-bottom: 0;
      }

      .submit-form {
        align-self: end;
        display: flex;
        column-gap: 1rem;
        .text-input {
          width: 100%;
          padding:1rem;
          color: #000000;
          background-color: #ffffff;
          border: $border;
          justify-self: start;
          font-size: 1rem;
          border-radius: $borderRadius;
        }

        .text-input::placeholder{
          color: #D3D3D3FF;
        }

        .text-input:focus {
          outline: 4px auto -webkit-focus-ring-color;
        }

        .send-btn {
          border-radius: 8px;
          border: $border;
          padding: 0.6em 1.2em;
          font-size: 1em;
          font-weight: 500;
          font-family: inherit;
          cursor: pointer;
          transition: border-color 0.25s;

          background-color: #2d6a70;
        }
        .send-btn:hover {
          background-color: #38848c;
        }

        .send-btn:disabled{
          pointer-events: none;
          opacity: 50%;
        }

      }


    }

  }


}