.container {

    color: black;
    display: grid;
    row-gap: 1rem;
    justify-items: center;
    align-items: center;

    .chatbot {
        height: 10rem;
        width: 10rem;

    }
    .chatbot:hover {
        transform: scale(1.2);
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }

    .chatbot:not(.chatbot:hover) {
        transform: scale(1);
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }


    .heading {
        font-size: 2.5em;
        margin: 0;
    }

    .sub-container {
        display: grid;
        justify-items: center;
        align-items: center;
        text-align: center;

        .sub-heading {
            font-size: 1em;
            margin: 0;
            max-width: 10rem;
        }

    }




    .btn {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        font-size: 1em;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;

    }
    .btn:hover {
        border-color: #646cff;
    }
    .btn:focus,
    .btn:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }



}