@import '../../../../styles/variables.scss';


.chat-messages-container {

  color: #000000 ;

  list-style: none;
  margin: 0;
  padding: 1rem;
  height: 15rem;
  overflow-y: scroll;


  .chat-message-left{
    align-items: start;
  }
  .chat-message-right{
    align-items: end;
  }

  .chat-message {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.75rem;
    list-style: none;
    text-align: left;

    .chat-message-content-right {

      background-color: #2d6a70;
      color: #ffffff;
    }

    .chat-message-content-left{
      background-color: #2d6a70;
      color: #ffffff;
    }

    .chat-message-content {

      max-width: 15rem;
      padding: 0.5rem;
      color: #13f41f;
      background-color: #06120b;


      .chat-message-text {
        font-size: 1rem;
        margin: 0;
        color: #13f41f;
      }
    }

    .chat-message-time {
      font-size: 0.6rem;
      color: #276c3a;
    }

  }
}
