@import '../../../../styles/variables.scss';


.chat-messages-container {

  color: #000000 ;

  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 30rem;
  overflow-y: scroll;

  .chat-message-left{
    align-items: start;
  }
  .chat-message-right{
    align-items: end;
  }

  .chat-message {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    padding: 0.75rem;
    list-style: none;
    text-align: left;

    .chat-message-content-right {
      border-radius: 0.5rem;
      background-color: #2d6a70;
      color: #ffffff;
    }

    .chat-message-content-left{
      background-color: lightgray;
      border-radius: 0.5rem;

    }

    .chat-message-content {

      max-width: 15rem;
      border: $border;
      padding: 0.5rem;

      .chat-message-text {
        font-size: 1rem;
        margin: 0;
      }
    }

    .chat-message-time {
      font-size: 0.75rem;
      color: lightgray;
    }

  }
}
